---
import Layout from "@/layouts/Layout.astro";
import { publications } from "@/data/cv";
import { highlightAuthor } from "@/lib/utils";
import {template} from "@/settings";

import type { Publication } from '../types/cv'
import PublicationsList from '@/components/ui/PublicationsList.astro'

const ALL_PAPERS = publications; // This will be replaced with dynamic data later

// let orderedPublications: Publication[] = []

// const orderElement = <T extends { time: string }>(a: T, b: T) => {
//   const presentValues = ['present', 'now', 'current', 'today']
//   if (
// 			presentValues.includes(
// 				(a['time'] as string)?.split(' - ')[1]?.toLowerCase()
// 			)
// 		) {
// 			// If the date is 'present', it should be the first element
// 			return -1
// 		}
// 		const dateA = new Date((a['time'] as string)?.split(' - ')[1])
// 		const dateB = new Date((b['time'] as string)?.split(' - ')[1])
// 		return dateB.getTime() - dateA.getTime()
// }

// if (publications.length > 0) {
// 	orderedPublications = publications.sort((a, b) => {
// 		return orderElement(a, b)
// 	})
// }

---

<Layout title="Publications">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Publications</h1>

    <!-- {
      orderedPublications.length > 0 && (
        <section class='mb-12'>
          <h2 class='text-2xl font-bold mb-6 border-b pb-2'>
            Publications
          </h2>
          <PublicationsList elements={orderedPublications}/>
        </section>
      )
    } -->

    <div class="space-y-4">
      {
        ALL_PAPERS.map((paper) => (
          <div class="card bg-base-200">
            <div class="card-body">

      {
        paper.link ? (
          <a
            href={paper.link  as string}
            class="block hover:text-accent transition-colors duration-200"
            target="_blank"
            rel="noopener noreferrer"
          >
            <h3 class='text-lg font-bold mb-2'>{paper.title}</h3>
          </a>
        ) : (
          <h3 class='text-lg font-bold mb-2'>{paper.title}</h3>
        )
      }
      <p class='text-base mb-2'>
        <span class='font-medium'>Authors:</span>{' '}
        <span
          set:html={highlightAuthor(paper.authors as string)}
        />
      </p>
      <p class='text-sm mb-3'>
        <span class='italic'>{paper.journal}</span> •{' '}
        {paper.time}
      </p>

      <details class="mt-2 group">
        <summary class="cursor-pointer text-sm font-medium flex items-center gap-1">
          <span class="group-open:hidden">Read Abstract</span>
          <span class="hidden group-open:inline">Hide Abstract</span>
          
          <svg class="w-4 h-4 transition-transform group-open:rotate-180"
              fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 9l-7 7-7-7" />
          </svg>
        </summary>

        <p class="text-sm mt-2 ml-1">
          {paper.abstract}
        </p>
      </details>
    {/* } */}

                {
                  paper.link ? (
                    <a
                      href={template.base + paper.link}
                      class="no-underline hover:text-accent"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <h2 class="card-title text-xl hover:text-accent">{paper.title}</h2>
                    </a>
                  ) : (
                  <h2 class="card-title text-xl">{paper.title}</h2>
                  )
                }

              <p class="text-base mb-2">
                <span class="font-medium">Authors:</span>{" "}
                <span set:html={highlightAuthor(paper.authors)} />
              </p>
              <p class="text-sm mb-3">
                <span class="italic">{paper.journal}</span> • {paper.time}
              </p>

              <p class="text-sm text-base-content/80">{paper.abstract}</p>

              <div class="card-actions justify-end mt-4 gap-x-2">
                {paper.github &&
                (<div class="card-actions justify-end mt-4">
                  <a href={paper.github} class="btn btn-sm btn-secondary text-secondary-content">
                    GitHub
                  </a>
                </div>)}

                {paper.link &&
                (<div class="card-actions justify-end mt-4">
                  <a href={paper.link} class="btn btn-sm btn-secondary text-secondary-content">
                    Read Paper
                  </a>
                </div>)}

                {/* Maybe create for slides */}
                {/* {paper.s &&
                (<div class="card-actions justify-end mt-4">
                  <a href={paper.github} class="btn btn-sm btn-secondary text-secondary-content">
                    GitHub
                  </a>
                </div>)} */}
              </div>
            </div>
          </div>
        ))
      }
    </div>

    <!-- <div class="flex justify-center mt-8">
      <div class="join">
        <button class="join-item btn btn-sm">«</button>
        <button class="join-item btn btn-sm">1</button>
        <button class="join-item btn btn-sm btn-active">2</button>
        <button class="join-item btn btn-sm">3</button>
        <button class="join-item btn btn-sm">»</button>
      </div>
    </div> -->
  </div>
</Layout>
