---
import Layout from "@/layouts/Layout.astro";
import {getCollection, render} from 'astro:content'

// const { slug } = Astro.params;
// const post = await getEntryBySlug("news", slug);

export async function getStaticPaths(): Promise<Array<{ params: { slug: string }, props: { post: any } }>> {
    const blogEntries = await getCollection("news");

    const posts = blogEntries
        .map(post => {
        const slug = post.id
            return {
            params: { slug },
            props: { post },
            }
    })
    return posts
}
const {post} = Astro.props;
const { title, date, tags} = post.data; 
const { Content } = await render(post);

---

<Layout title={post.data.title}>
  <article class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-2">{post.data.title}</h1>
    <p class="text-sm text-base-content/60 mb-6">{post.data.date}</p>
    <div set:html={post.body} />
  </article>
</Layout>
