<!-- ---
interface Props {
  listTitle: string;
  listItems: {
    title: string;
	slug: string;
    date: string;
  }[];
}
const {listTitle, listItems} = Astro.props
---

<h2 class='text-3xl font-bold mb-8'>News</h2>
		<div class='space-y-6'>
			{
				listItems.map(item => (
					<div class='p-6 rounded-lg text-base-content border border-base-200'>
						{
							item.body ? (
							<a
								href={item.slug}
								class="hover:text-accent"
							>
								<h3 class='text-xl font-semibold mb-2'>{item.title}</h3>
							</a>
							) : (
								<h3 class='text-xl font-semibold mb-2'>{item.title}</h3>
							)
						}
						
						{/* <p >
							{item.time}
						</p> */}
						<time datetime={item.date}>
							{new Date(item.date).toLocaleDateString('en-US', {
								year: 'numeric',
								month: 'long',
								day: 'numeric',
							})}
					  </time>
					</div>
				))
			}
		</div> -->


---
interface Props {
	listTitle: string;
	listItems: {
		title: string;
		slug: string;
		date: string;
		body?: any;
	}[];
}
const { listTitle, listItems } = Astro.props;
---

<h2 class="text-3xl font-bold mb-8">News</h2>
<div class="space-y-6">
	{
	listItems.map((item) => (
		<div class="grid grid-cols-[8rem_1fr] gap-x-6 items-baseline">
		<time datetime={item.date} class="text-lg text-base-content/70">
			{new Date(item.date).toLocaleDateString("en-US", {
			year: "numeric",
			month: "short",
			day: "numeric",
			})}
		</time>

		<div class="text-lg">
			{
			item.body ? (
				<a
				href={item.slug}
				class="hover:text-accent hover:underline"
				>
				<p>{item.title}</p>
				</a>
			) : (
				<p>{item.title}</p>
			)
			}
		</div>
	</div>
	))
	}
</div>